.body-ui {
    background-color: aquamarine;
    margin-top: -10px;
    width: 100vw;
    display: flex;
}
.body-ui .body-left {
    flex: 30%;
    display: flex;
}
.body-ui .body-right {
    margin-top: 30px;
    flex: 70%;
    display: flex;
    max-width: 70%;
}
.products {
    display: flex;
}
.card {
    display: flex;
}
.card-body {
    height: 300px;
    width: 200px;
    padding: 10px;
    font-family: monospace;
}
.card-title {
    font-size: 20px;
    font-weight: bolder;
}
.card-body img {
    height: 250px;
    width: 200px;
    border-radius: 10px;
}
