.body-ui {
    margin-top: -10px;
    width: 100vw;
    display: flex;
}
.body-ui .body-left {
    display: flex;
}
.body-ui .body-right {
    margin-top: 10px;
    margin-left: 50px;
    overflow: auto;
    overflow-y: hidden;
    width: 100vw;
}
/* .body-ui .body-right1 {
    margin-top: 10px;
    overflow: auto;
    overflow-y: hidden;
    height: 400px;
    width: 100vw;
} */
.products {
    display: flex;
}
.card {
    display: flex;
}

