.body-ui {
    background-color: aquamarine;
    margin-top: -10px;
    width: 100vw;
    display: flex;
}
.body-ui .body-left {
    display: flex;
}
.body-ui .body-right {
    margin-top: 10px;
    overflow: auto;
    overflow-y: hidden;
    background-color: blue;
    height: 400px;
    width: 100vw;
}
.body-ui .body-right1 {
    margin-top: 10px;
    overflow: auto;
    overflow-y: hidden;
    background-color: blue;
    height: 400px;
    width: 100vw;
}
.products {
    display: flex;
}
.card {
    display: flex;
    height: max-content;
    max-width: fit-content;
}

